@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.body-padding {
    padding: 0 90px;
}

.header, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links, .hero-small-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-content, .hero-image {
    flex-basis: 0;
    flex-grow: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-button {
    background-color: #2882F6;
    color: white;
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 115px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-img {
    flex-shrink: 0;
    width: 115px;
    height: 115px;
    border-style: solid;
    border-width: 4px;
    border-color: #2882F6;
    border-radius: 8px;
}

.info {
    text-align: center;
}