@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
}

.body-padding {
    padding: 0 90px;
}

.header, .hero {
    font-family: "Roboto";
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links, .hero-small-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-content, .hero-image {
    flex-basis: 0;
    flex-grow: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-button {
    background-color: #2882F6;
    color: white;
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}